.grid {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 41% 30% 20% 20%;
    border: black 1px;
}
.box {
    width: 300px;
    height: 575px;
    padding: 15px;
    background-color: rgb(21, 255, 204);
    box-shadow: 10px 10px lightblue;
    border-radius: 10px;
    position: absolute;
    top: 20%;
}
.gridItem {


    padding: 20px;
    font-size: 20px;
    text-align: center;
    
    
}
button {
    background-color: lightskyblue;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px black;
    box-shadow: 1px 1px rgb(0, 0, 0);
    font-size: large;
    cursor:pointer;
  
    
}

.h1Style {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.box2 {
    width: 150px;
    height: 100px;
    padding: 15px;
    background-color: rgb(21, 255, 204);
    box-shadow: 8px 8px lightblue;
    border-radius: 25px;
    position: relative;
    right: -29%;

    
}

body  {
    background-color:rgb(207, 207, 207);
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 1390px;
    margin:auto;
}


.grid-container {
    display: grid;
    margin: auto;
    max-width: auto;
    grid-template-columns:auto auto auto auto auto;
}

#tableLink {
    color: blue; 
}

#tableLink:hover {
    cursor:pointer;
}

.users {
    border-collapse: collapse;
    margin-top: 20px;
}

.users td {
    border: 1px solid gray;
    padding: 10px;
}

.meny {
    background-color: black;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    overflow: hidden;

}
.li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a {
    text-decoration: none;
    color: wheat;
    
}

li b {
    text-align: center;
    font-family: 'Times New Roman';
    place-content: center;
    
}
h1 {
    text-align: center;
}

.none {
    text-decoration: none ;
    color: #000;
}

.box3 {
    width: 450px;
    height: 600px;
    padding: 15px;
    background-color: rgb(224, 224, 224);
    box-shadow: 8px 8px lightblue;
    border-radius: 25px;

    position: absolute;
    right: 41%;
    top: 20%;
}

#dec {
    color: #000;
    
}